{% extends 'base.html.twig' %}

{% block title %}Edit Sousthematique{% endblock %}

{% block body %}
    <h1>Edit Sousthematique</h1>

    {{ include('back/sousthematique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_sousthematique_index') }}">back to list</a>

    {{ include('back/sousthematique/_delete_form.html.twig') }}
{% endblock %}
