

//! =========================<Radius>=========================
/*
* @param $radius: radius value
* @param $corner: corner value
* @return: border-radius
* @example: @include radius(5px, all);
* @example: @include radius(5px, top); // radius-top-left and radius-top-right
*/
@mixin radius($radius, $corner) {
    @if $corner == "all" {
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        border-radius: $radius;
    }@else{
        @if $corner == "top"{
            -webkit-border-radius: $radius $radius 0 0;
            -moz-border-radius: $radius $radius 0 0;
            border-radius: $radius $radius 0 0;
        }@else{
            @if $corner == "bottom"{
                -webkit-border-radius: 0 0 $radius $radius;
                -moz-border-radius: 0 0 $radius $radius;
                border-radius: 0 0 $radius $radius;
            }
        }
    }
}

//! =========================<Radius>=========================


