@use  "./abstract/" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $white;
}

a{
    text-decoration: none;
    color: $white;
}

li{
    list-style: none;
}

main{
    min-height: calc(100vh - 100px);
    background: $okaiGradient2;
}

