<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# stylesheet swiper  #}
        <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
        {# stylesheet FullCalendar #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">

        {#  Video.js #}
        <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
        
        {# Filepond #}
        <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
            {# Filepond #}
            <script src="https://unpkg.com/filepond@^4/dist/filepond.js" defer ></script>
         <script src="{{asset('./bundles/tinymce/ext/tinymce/tinymce.min.js')}}" defer=""></script>
            <script src= "{{ asset('./build/howler.js') }}" ></script>        

        {# {{ encore_entry_script_tags('tinyMCE') }} #}
    </head>
    <body>
        {% block body %}{% endblock %}
    {% block script %}{% endblock %}
    </body>
</html>
